@import '../../sass/utils/variables',
        '../../sass/utils/mixins';

.sitesearch {
    &__container {
        width: 100%;
        max-width: $narrow;
        margin-left: auto;
        margin-right: auto;

        form {
            width: 100%;
            border: 1px solid $brand2;

            @include desktop {
                display: flex;
            }
        }

        input {
            padding: 0 $spacing;
            height: 60px;
        }
    }

    &__field {
        border: none;
        width: 100%;

        @include desktop {
            flex-grow: 1;
            width: calc(100% - 175px);
        }
    }

    &__submit {
        width: 100%;
        border: none;
        cursor: pointer;

        @include desktop {
            width: 175px;
        }
    }


}