@import '../../sass/utils/variables',
        '../../sass/utils/mixins';


.fixedspacer {
    content-visibility: auto;
    contain-intrinsic-size: 400px;
    height: $spacing * 4;

    @include desktop {
        height: $spacing * 8;
    }
}