@import './utils/variables';

.wp-block {
    padding: 0 1rem 1rem 1rem;
    border-radius: 4px;
    border: 1px dotted #aaa;
    font-family: $sansSerif;

    .block__title {
        background-color: $brand2;
        color: $brand4;
        position: relative;
        z-index: 2;
        margin: 0 -1rem 1rem -1rem;
        padding: 0.25rem 1rem;
        font-weight: 700;
        font-size: 0.875rem;
    }

    .block__titleArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 20px;

        &--name,
        &--title {
            p {
                font-weight: 700;
                margin: 0;
            }
        }

        &--name,
        &--toggle {
            padding: 10px;
            flex-shrink: 0;
        }

        &--name {
            background-color: #333;
            align-self: stretch;
            display: flex;
            align-items: center;
            font-size: 12px;
            padding-top: 5px;
            padding-bottom: 5px;

            p {
                color: #fff;
                font-weight: 400;
            }
        }

        &--title {
            flex-grow: 1;
            overflow: hidden;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 20px;
            }
        }

        &--toggle {
            button {
                border: 1px solid #000;
                border-radius: 4px;
                
            }
        }
    }
}