.alert {
    background-color: $brand4;
    padding: calc(#{$spacing} / 2) $spacing; 
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;


    &__container {
        max-width: $container;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
        p {
            font-size: 0.875rem;
            margin: 0;
        }
    }
}