.contactmethods {
    &__title {
        @extend %footer-menu-title;
    }

    &__list {
        @extend %footer-menu;
    }

    address {
        font-style: normal;
        display: flex;
        flex-direction: column;
    }
}