.footernavigation {
    padding-right: $spacing;

    &__title {
        margin-top: 0;
        margin-bottom: calc($spacing / 2);
        font-size: $paragraph;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &--item {
            // a {
            //     color: ;
            //     text-decoration: none;
            // }
        }
    }
}