.postlist {
    padding-top: $spacing * 4;
    &__items {
        display: flex;
        gap: $spacing;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}