@import '../../sass/utils/variables',
        '../../sass/utils/mixins';

.wp-block-wpboiler-core-columns {

    .columns__container {
        >.block-editor-inner-blocks {
            >.block-editor-block-list__layout {
                gap: $spacing;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;

                @include tablet {
                    flex-direction: row;
                }
        
                .wp-block-wpboiler-core-column {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    &[columnselect="2"] {
        .columns__container {
            >.block-editor-inner-blocks {
                >.block-editor-block-list__layout {
                    .wp-block-wpboiler-core-column {
                        @include tablet {
                            width: calc(50% - (#{$spacing} / 2));
                        }
                    }
                }
            }
        }
    }

    &[columnselect="3"] {
        .columns__container {
            >.block-editor-inner-blocks {
                >.block-editor-block-list__layout {
                    .wp-block-wpboiler-core-column {
                        @include tablet {
                            width: calc(33.333% - 14px);
                        }
                    }  
                }
            }
        }
        
    }

    &[columnselect="4"] {
        .columns__container {
            >.block-editor-inner-blocks {
                >.block-editor-block-list__layout {
                    .wp-block-wpboiler-core-column {
                        @include tablet {
                            width: calc(25% - 15px);
                        }
                    }
                }
            }
        }
    }

    &[columnoffset="columns__offset--4060"] {
            .columns__container {
                >.block-editor-inner-blocks {
                    >.block-editor-block-list__layout {
                        .wp-block-wpboiler-core-column {

                            &:nth-child(odd) {
                                width: calc(40% - 0.5rem);
                            }

                            &:nth-child(even) {
                                width: calc(60% - 0.5rem);
                            }
                        }
                    }
                }
            }
            
        }
        &[columnoffset="columns__offset--6040"] {
            .columns__container {
                >.block-editor-inner-blocks {
                    >.block-editor-block-list__layout {
                        .wp-block-wpboiler-core-column {

                            &:nth-child(odd) {
                                width: calc(60% - 0.5rem);
                            }

                            &:nth-child(even) {
                                width: calc(40% - 0.5rem);
                            }
                        }
                    }
                }
            }
        }
}