@import '../../sass/utils/variables';

article.wp-block.wp-block-wpboiler-core-card-group-item {
    flex: 1 1 25%;
    padding-left: calc(#{$spacing} / 2);
    padding-right: calc(#{$spacing} / 2);

    .cardgroupitem {
        &__title,
        &__content {
            color: #fff;
        }
    }
}