:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $sansSerif;
    line-height: 1.5;
    padding-top: $spacing * 5;
}

.container {
    &__main {
        >* {
            padding-left: $spacing * 2;
            padding-right: $spacing * 2;
            max-width: $container;
            margin-left: auto;
            margin-right: auto;
            box-sizing: content-box;
        }

        .container__full {
            max-width: 100%;
        }
    }
}

.margins {
    &__topBottom {
        margin-top: $spacing *2;
        margin-bottom: $spacing * 2;

        @include desktop {
            margin-top: $spacing * 4;
            margin-bottom: $spacing * 4;
        }
    }

    &__top {
        margin-top: $spacing *2;
        margin-bottom: 0;

        @include desktop {
            margin-top: $spacing * 4;
        }
    }

    &__bottom {
        margin-top: 0;
        margin-bottom: $spacing * 2;

        @include desktop {
            margin-bottom: $spacing * 4;
        }
    }

    &__none {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }

    &__inContent {
        margin-top: calc(#{$spacing} / 2);
        margin-bottom: $spacing;
    }

    &__double {
        &.margins__topBottom {
            margin-top: $spacing * 4;
            margin-bottom: $spacing * 4;

            @include desktop {
                margin-top: $spacing * 8;
                margin-bottom: $spacing * 8;
            }
        }

        &.margins__top {
            margin-top: $spacing * 4;
            margin-bottom: 0;

            @include desktop {
                margin-top: $spacing * 8;
            }
        }

        &.margins__bottom {
            margin-top: 0;
            margin-bottom: $spacing * 4;

            @include desktop {
                margin-bottom: $spacing * 8;
            }
        }
    }
}

.content {
    &__narrow {
        width: 80%;
        max-width: $narrow;
        margin-left: auto;
        margin-right: auto;
    }
}