@import '../../sass/utils/variables';


.wp-block-wpboiler-core-panel {
    padding: 0!important;

    .panel {
        &__preview {
            padding-left: $spacing;
            padding-right: $spacing;
        }
    }
}

