@import '../../sass/utils/variables',
        '../../sass/utils/mixins';

div.bannerimage {
    max-width: 100%;
    padding: 0;
    content-visibility: auto;
    contain-intrinsic-size: 600px;

    &__media {
        @include aspectRatio(16,7);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}