@import '../utils/variables';

%grid-padding {
  padding-left: $spacing;
  padding-right: $spacing;

  @include tablet {
    padding-left: calc(#{$spacing} / 2);
    padding-right: calc(#{$spacing} / 2);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  @extend %grid-padding;

  &__span {
    &-1 {
      @extend %grid-padding;
      grid-column: 1 / span 1;

      @include tablet {
        grid-column: 1 / span 2;
      }
    }

    &-2 {
      @extend %grid-padding;
      grid-column: 1 / span 2;
    }

    &-3 {
      @extend %grid-padding; 
      grid-column: 1 / span 3;

      @include tablet {
        grid-column: 1 / span 5;
      }

      &-5 {
        @extend %grid-padding;
        grid-column: 4 / span 2;

        @include tablet {
          grid-column: 1 / span 5;
        }
      }
    }

    &-4 {
      @extend %grid-padding;
      grid-column: 1 / span 4;
    }

    &-5 {
      @extend %grid-padding;
      grid-column: 1 / span 5;
    }
  }
}


