@import './typography-defaults';

h1 {
  @extend %heading-one;
}

h2 {
    @extend %heading-two;
}

h3 {
    @extend %heading-three;
}

h4 {
    @extend %heading-four;
}

h5 {
    @extend %heading-five;
}

h6 {
    @extend %heading-six;
}

p {
  @extend %paragraph;
}

ul,
ol {
  @extend %list;
}

a {
  @extend %link;
}

.h-type-standard {

  .wp-block-quote {
    @extend %blockquote;
  }

  .wp-block-image {
    @extend %image;
  }

  .wp-block-table {
    @extend %table;
  }

  .wp-block-buttons {
    @extend %buttons;
  }

  .wp-block-button {
    &__link {
      @extend %button;
    }
  }
}

.has-text-align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}