@import '../../sass/utils/mixins',
        '../../sass/utils/variables';

.wp-block-wpboiler-core-cta {
    position: relative;
    background-color: #000;
    padding-top: $spacing * 2;
    padding-bottom: $spacing * 2;

    &[orientationselect="cta__text--left"] {
        .cta__container {
            justify-content: flex-start;
            text-align: left;
        }
    }

    &[orientationselect="cta__text--center"] {
        .cta__container {
            justify-content: center;
            text-align: center;
        }
    }

    &[orientationselect="cta__text--right"] {
        .cta__container {
            justify-content: flex-end;
            text-align: right;
        }
    }
}