@import '../../sass/utils/variables';

.wp-block.wp-block-wpboiler-core-quote {
    padding-left: 0!important;
    padding-right: 0!important;
    text-align: center;
}

.wp-block-wpboiler-core-panel {
    &.has-brand-1-background-color,
    &.has-brand-2-background-color {
        .wp-block-wpboiler-core-quote {
            >* {
                color: #fff;
            }
        }
    }
}

