.wp-block.wp-block-wpboiler-core-hero-slide {

    .hero-slide {

        &__toggleContainer {
            &.slide__closed {
                .hero-slide__preview {
                    height: 0;
                    padding: 0;
                    overflow: hidden;
                }
            }

            &.slide__open {
                .hero-slide__preview {
                    padding: 20px;
                    height: auto;

                }
            }
        }

        &__preview {
            position: relative;
        }

        &__titleArea {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                border: 1px solid #000;
                border-radius: 4px;
            }
        }

        &__image {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        &__title {
            color: #fff;

            &--pre,
            &--intro {
                color: #fff;
            }
        }

        &__container {
            position: relative;
            z-index: 1;
        }

    }

}