@import '../../sass/utils/mixins',
        '../../sass/utils/variables';

.wp-block-wpboiler-core-promo-group {
    padding: 0!important;

    .promo-group {
        &__preview {
            padding: $spacing;
        }
    }

    .promo-group__content {
        >.block-editor-inner-blocks {
            >.block-editor-block-list__layout {
                display: flex;
                flex-wrap: wrap;
                gap: $spacing;
                padding-bottom: 60px;

                >.block-list-appender {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 5px;
                    border: none;
                }
            }
        }
    }

    .wp-block-wpboiler-core-promo-group-item {
        margin: 0;
        background-color: $brand4;
        padding: 0!important;

        .promo-group-item {
            &__preview {
                padding: 0 0 $spacing 0;
            }
        }
    }

    &[orientation="promogroup__stacked"] {
        .wp-block-wpboiler-core-promo-group-item {
            width: 100%;

            .promo-group-item__container {
                display: flex;
            }

            .promo-group-item__media {
                flex: 0 0 40%;
            }

            .promo-group-item__text {
                flex: 1 1 auto;
                padding-left: $spacing;
            }
        }
    }

    &[orientation="promogroup__columns"] {

        .wp-block-wpboiler-core-promo-group-item {
            .promo-group-item__text {
                padding: $spacing;
            }
        }

        &[columnselect="2"] {
            .wp-block-wpboiler-core-promo-group-item {
                width: calc(50% - (#{$spacing} / 2));
            }
        }

        &[columnselect="3"] {
            .wp-block-wpboiler-core-promo-group-item {
                width: calc(33.333% - 11px);
            }
        }

        &[columnselect="4"] {
            .wp-block-wpboiler-core-promo-group-item {
                width: calc(25% - 12px);
            }
        }
    }    
}
