@import '../../sass/utils/mixins',
        '../../sass/utils/variables';

 .promogroup {
    &__stacked {
        .promogroupitem {
            .promogroupitem__container {
                display: flex;
            }

            .promogroupitem__media {
                flex: 0 0 40%;
            }

            .promogroupitem__text {
                flex: 1 1 auto;
                padding-left: $spacing;
            }
        }
    }

    &__columns {

        &.promogroup__columns--2 {
            .promogroup__container--content {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &.promogroup__columns--3 {
            .promogroup__container--content {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        &.promogroup__columns--4 {
            .promogroup__container--content {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    .promogroup__container--content {
        display: grid;
        grid-auto-rows: auto;
        gap: $spacing;
    }

    .promogroup__container {
        width: 100%;
        max-width: $container;
        margin: 0 auto;
    }

    .promogroupitem {
        .promogroupitem__title {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            font-size: $headingSub;
        }

        .promogroupitem__content {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            font-size: 1rem;
        }
    }

}

.promogroupitem__media {
    img {
        aspect-ratio: 4 / 3;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: auto;
    }
}
