%grid-padding {
  padding-left: calc(#{$spacing} / 2);
  padding-right: calc(#{$spacing} / 2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  @extend %grid-padding;

  &__span {
    &-1 {
      @extend %grid-padding;
      grid-column: 1 / span 2;
    
      @media(min-width: 760px) {
        grid-column: 1 / span 1;
      }
    }

    &-2 {
      @extend %grid-padding;
      grid-column: 1 / span 2;
    }

    &-3 {
      @extend %grid-padding;
      grid-column: 1 / span 5;
          
      @media(min-width: 760px) {
        grid-column: 1 / span 3;
      }
    }

    &-4 {
      @extend %grid-padding;
      grid-column: 1 / span 4;
    }

    &-5 {
      @extend %grid-padding;
      grid-column: 1 / span 5;
    }
  }
}