%link {
  text-decoration: underline;
  text-decoration-color: $brand1;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
  transition: text-decoration-color 0.15s ease;
  color: $brand1;

  &:hover {
      text-decoration-color: $brand2;
  }
}

%alternate-font {
  font-family: $serif;
}

%block-margin {
  margin-top: calc($spacing / 3);
  margin-bottom: $spacing;
}

%block-margin-large {
  margin-top: calc($spacing * 2);
  margin-bottom: calc($spacing * 2);
}

%heading {
  color: $brand1;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -0.025em;

  [class*="-serif-"] {
    @extend %alternate-font;
  }

  a {
    @extend %link;
  }
}

%heading-color-alt {
  color: $brand2;
}

%heading-one {
  @extend %block-margin;
  @extend %heading;
  font-size: $heading1;
}

%heading-two {
  @extend %block-margin;
  @extend %heading;
  font-size: $heading2;
}

%heading-three {
  @extend %block-margin;
  @extend %heading;
  font-size: $heading3;

  [class*="-serif-"] {
    font-size: $heading3Serif;  
    font-weight: 700;
  }
}

%heading-four {
  @extend %block-margin;
  @extend %heading;
  font-size: $heading4;
}

%heading-five {
  @extend %block-margin;
  @extend %heading;
  font-size: $heading5;
}

%heading-six {
  @extend %block-margin;
  @extend %heading;
  font-size: $heading6;
}

%paragraph {
  @extend %block-margin;
  font-size: $paragraph;

  a {
    @extend %link;
  }

  &.is-style-lead {
    font-size: $paragraphLead;
    font-weight: 500;
  }
}

%list {
  @extend %block-margin;
  padding-left: $spacing;
  
  li {
    font-size: $paragraph;
    
    a {
      @extend %link;
    }
  }
}

%blockquote {
  @extend %block-margin-large;
  margin-left: 0;
  margin-right: 0;

  >* {
    &:first-child {
      margin-top: 0
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    @extend %heading-five;
    line-height: 1.1;
    width: 85%;
    max-width: 500px;
  }

  cite {
    color: $brand2;
    font-family: $serif;
    font-size: $paragraphSmall;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    line-height: 1.2;
    border-top: 0.1em solid rgba($brand1, 0.25);
    padding-top: calc(#{$spacing} / 2);
    margin-top: calc($spacing / 2);
  }

  &.has-text-align-left {
    p,
    cite {
      margin-left: 0;
      margin-right: auto;
    }
  }

  &.has-text-align-center {
    p,
    cite {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.has-text-align-right {
    p,
    cite {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

%image {
  @extend %block-margin-large;
  margin-left: auto;
  margin-right: auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  figcaption {
    display: inline-block;
    text-align: left;
    padding-top: calc(#{$spacing} / 2);
    width: 85%;
    max-width: 500px;
    line-height: 1.2;
    
    a {
      @extend %link;
    }
  }
}

%table {
  @extend %block-margin-large;
  margin-left: 0;
  margin-right: 0;
  overflow-x: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    min-width: 400px;

    thead {
      tr {
        background-color: $brand1;
        color: $white;
        text-align: left;

        a {
          @extend %link;
          color: $white;
          text-decoration-color: $white;

          &:hover {
            text-decoration-color: $brand2;
          }
        }
      }
    }

    th,
    td {
      padding: calc($spacing / 2) $spacing;

      a {
        @extend %link;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $brand4;

        &:nth-of-type(even) {
          background-color: #f3f3f3;
        }

        &:last-of-type {
          border-bottom: 0.1em solid $brand2;
        }
      }
    }
  }

  .wp-element-caption {
    text-align: center;
    font-size: $paragraphSmall;
    padding-top: calc($spacing / 2);
    font-style: italic;
  }
}

%buttons {
  @extend %block-margin-large;
}

%button {
  background-color: $black;
  color: $white;
  cursor: pointer;
  display: inline-block;
  border-radius: 0;
  font-family: $sansSerif;
  font-size: $paragraph;
  font-weight: 700;
  padding: calc($spacing / 2) $spacing;
  border: 0.1em solid $black;

  .is-style-basic & {
    background-color: transparent;
    color: $black;
  }
}

.has-text-align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}