@import './typography-defaults';

h1 {
  @extend %heading-one;
}

h2 {
    @extend %heading-two;
}

h3 {
    @extend %heading-three;
}

h4 {
    @extend %heading-four;
}

h5 {
    @extend %heading-five;
}

h6 {
    @extend %heading-six;
}

p {
  @extend %paragraph;
}

ul,
ol {
  @extend %list;
}

a {
  @extend %link;
}

.h-type-standard {

  .wp-block-quote {
    @extend %blockquote;
  }

  .wp-block-image {
    @extend %image;
  }

  .wp-block-table {
    @extend %table;
  }

  .wp-block-buttons {
    @extend %buttons;
  }

  .wp-block-button {
    &__link {
      @extend %button;
      transition: background-color 0.2s ease-in,
                  border-color 0.2s ease-in,
                  color 0.2s ease-in;

      &:hover {
        background-color: $brand2;
        border-color: $brand2;
      }
    }

    &.is-style-basic .wp-block-button__link {
      &:hover {
        background-color: transparent;
        border-color: $brand2;
        color: $brand2;
      }
    }
  }
}