@import './typography-defaults';

.h-type-standard {
  h1 {
    @extend %heading-one;
  }

  h2 {
      @extend %heading-two;
  }

  h3 {
      @extend %heading-three;
  }

  h4 {
      @extend %heading-four;
  }

  h5 {
      @extend %heading-five;
  }

  h6 {
      @extend %heading-six;
  }

  p {
    @extend %paragraph;
  }

  ul,
  ol {
    @extend %list;
  }

  .wp-block-quote {
    @extend %blockquote;
    width: 85%;
    max-width: 500px;

    cite {
      font-weight: 700;
      border-top: 0.15em solid rgba($brand1, 0.25);
      padding-top: calc(#{$spacing} / 2);
      margin-top: calc($spacing / 2);
    }
  }

  .wp-block-image {
    @extend %image;

    figcaption {
      display: inline-block;
      text-align: left;
      padding-top: calc(#{$spacing} / 2);
      width: 85%;
      max-width: 500px;
    }
  }

  .wp-block-table {
    @extend %table;
  }
}