@import '../../sass/utils/mixins',
        '../../sass/utils/variables';

 .wp-block-wpboiler-core-card-group {
	background-color: #000;
    position: relative;
    padding-top: $spacing * 2;
    padding-bottom: $spacing * 2;

    @include desktopLarge {
        padding-top: $spacing * 6;
        padding-bottom: $spacing * 6;
    } 

    [role="textbox"] {
        color: #fff;
    }
}
