@import '../../sass/utils/variables';

hr.separator {
    content-visibility: auto;
    contain-intrinsic-size: 100px;
    max-width: $narrow;
    height: 2px;
    border: none;
    background-color: $brand2;
    box-sizing: border-box;
}

.panel {
    &.brand1 {
        hr.separator {
            background-color: $brand4;
        }
    }

    &.brand2 {
        hr.separator {
            background-color: $brand1;
        }
    }
}