.e-published {
  padding-bottom: calc(#{$spacing} / 2);
  margin-top: $spacing;
  margin-bottom: $spacing;
  border-bottom: 0.15em solid rgba($brand1, 0.25);
  width: 85%;
  max-width: 500px;
  font-weight: 700;

  &__message {
    .e-published & {
      @extend %paragraph;
      margin-top: 0;
      margin-bottom: 0;
      color: $brand1;
    }
  }

  &__date {
    .e-published & {
      color: $brand2;
      font-family: $serif;
      font-style: italic;
      font-size: $paragraphSerif;
    }
  }
}