$spacing: 1rem;


$breakpointDesktopLarge: 1600px;
$breakpointDesktop: 1024px;
$breakpointTabletLarge: 992px;
$breakpointIpad: 768px;
$breakpointTablet: 600px;
$breakpointIphone5: 375px;

$brand1: #161616;
$brand2: #0093ca;
$brand3: #ffffff;
$brand4: #f2f5f6;