@import '../utils/variables';

.e-author {
  margin-top: calc($spacing / 2);
  margin-bottom: $spacing;
  width: 85%;
  max-width: 500px;
  padding-bottom: $spacing;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__media {
    flex-shrink: 0;
    flex-grow: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
           
    @media(min-width: 760px) {
      width: 50px;
      height: 50px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__figure,
  &__picture {
    width: inherit;
    height: inherit;
  }

  &__figure {
    margin: 0;
  }

  &__content {
    padding-top: calc($spacing / 2);
  }

  &__name {
    .e-author & {
      margin-top: 0;
      margin-bottom: 0;
      color: $brand1;
      line-height: 1.2;
      font-weight: 700;

      span {
        color: $brand2;
        font-family: $serif;
        font-style: italic;
        font-weight: 700;
        font-size: $paragraphSerif;
      }
    }
  }

  &__description {
    .e-author & {
      margin-top: calc(#{$spacing} / 3);
      margin-bottom: 0;
      line-height: 1.2;
      font-size: clamp(0.85rem, 2vw, 1rem);
    }
  }
}