@import '../utils/variables';

%footer-menu-title {
  margin-top: 0;
  margin-bottom: calc($spacing / 2);
  font-size: $paragraphDesktop;

  @include desktop {
    font-size: $paragraphTablet;
  }

  @include tablet {
    font-size: $paragraph;
    margin-bottom: calc($spacing / 3);
  }
}

%footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
      margin-bottom: calc($spacing / 3);
      font-size: $paragraphDesktop;

      @include desktop {
        font-size: $paragraphTablet;
      }
    
      @include tablet {
        font-size: $paragraph;
      }
  }
}

.footer {
  padding-top: calc($spacing * 2);
  padding-bottom: $spacing;
  // background-color: $brand1;
  // padding: $spacing;
  // color: #fff;

  &__col {
    border-top: 1px solid $black;
    padding-top: calc($spacing * 2);
    background-color: transparent;

    @include tablet {
      padding-top: $spacing;
      padding-bottom: $spacing;
    }

    nav {
      margin-bottom: calc($spacing * 2);

      @include tablet {
        margin-bottom: $spacing;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__container &__col {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
    

    @include tablet {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__container {
    

      // max-width: $container;
      // margin-left: auto;
      // margin-right: auto;
      // display: flex;
      // flex-direction: column;

      // @include desktop {
      //     flex-direction: row;
      // }

      // >* {
      //     flex: 1 1 0;
      // }
  }

  &__items {
      display: flex;

      @include tablet {
        display: block;
      }
  }

  &__logo {
      margin-bottom: calc($spacing / 3);

      h3 {
          margin: 0;
          font-size: $heading5Desktop;
          
          @include desktop {
            font-size: $heading5Tablet;
          }

          @include tablet {
            font-size: $heading5;
          }
      }
      span {
          display: block;
          color: $brand2;
          font-family: $serif;
          font-style: italic;
      }
  }

  &__copyright {
      p {
          margin: 0;
          font-size: $paragraphSmallDesktop;
          color: $brand1;

          @include desktop {
            font-size: $paragraphSmallTablet;
          }

          @include tablet {
            font-size: $paragraphSmall;
          }
      }
  }
}

.footernavigation {
  padding-right: calc($spacing * 2);

  @include desktop {
    padding-right: $spacing;
  }

  @include tablet {
    padding-right: 0;
  }

  &__title {
      @extend %footer-menu-title;
  }

  &__list {
      @extend %footer-menu;
  }
}

.contactmethods {
  &__title {
      @extend %footer-menu-title;
  }

  &__list {
      @extend %footer-menu;
  }

  address {
      font-style: normal;
      display: flex;
      flex-direction: column;
  }
}

.socialmedia {
  padding-right: calc($spacing * 2);

  @include desktop {
    padding-right: $spacing;
  }

  @include tablet {
    padding-right: 0;
  }

  &__title {
      @extend %footer-menu-title;
  }

  &__list {
    @extend %footer-menu;
  }
}