@import '../utils/variables',
        '../helper/typography-defaults';

.e-published {
  font-weight: 700;

  &__message {
    .e-published & {
      @extend %paragraph;
      margin-top: 0;
      margin-bottom: 0;
      color: $brand1;
    }
  }

  &__date {
    .e-published & {
      color: $brand2;
      font-family: $serif;
      font-style: italic;
      font-size: $paragraphSerif;
    }
  }
}